.finish {
  &__title {
    margin: auto;
    padding: 5px 30px;
    width: fit-content;
    color: white;
    background-color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: var(--main-shadow);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 50px;

    @media (max-width: 768px) {
      padding: 20px 20px;
    }
  }

  &__no-finish {
    margin: 30px auto;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-shadow);
  }
}
