* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: black;
  --main-shadow: -3px 4px 3px 0px rgba(0, 0, 0, 0.78);
  --main-hover-shadow: -6px 7px 6px 0px rgba(0, 0, 0, 0.78);
  --main-border-radius: 10px;
}
body {
  font-family: sans-serif;
  background-color: #eee;
  transition: 0.3s;
}
::-webkit-scrollbar {
  width: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
